/* 
 CSS Progress bar component
 Created by: Mariano Alvarez
 Date: 10/25/2016
 Version: 1.0
*/

/* Basic styles*/
html { 
    font-size: 62.5%; 
}

body {
    font-size: 1.5rem;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

h1 {
    font-size: 2rem;
}

/* Progress bar styles*/
.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.wrapper .progress-bar-container {
    background-color: #ebebeb;
    border: 1px solid #000;    
    overflow: hidden;
}

.progress-bar-container .title {
    background-color: #000;
    color: #fff;
    padding: 5px;
}

.progress-bar-container .container {
    background-color: #fff;
    margin: 2rem;
    padding: 3rem;
}

.container .reached-label {
   color: #929292;
}

.progress-bar-container .bar {
    background-color: #f7f7f7;
    border-top: 1px solid #eaeaea;
    display: inline-block;
    height: 1.3rem;
    width: 40vw;
} 

.progress-bar-container .bar-bg {
    animation: aniProgressBar 2s ease;
    background-color: #65b55b;
    height: 1.3rem;
    position: relative;
    width: 56%;
}

.bar-bg .amount {    
    display: block;
    position: absolute;
    right: -1rem;
    top: 3rem;
}

.bar-bg strong {
    display: block;
    font-weight: bold;
    line-height: 0;
    transform: rotate(90deg);
}

.progress-bar-container .target-box {
    background-color: #929292;
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 5rem;    
}

.progress-bar-container .info {
    color: #929292;
    margin-top: 4rem;
    text-align: center;
}

.info strong {
    color: #000;
}

.info-icon {
    background-color: #5c8ca9;        
    border-radius: 50%;
    color: #fff;
    font-style: italic;
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
}

/* animation keyframes*/
@keyframes aniProgressBar {
    0% {
        width: 0;
    }
    100% {
        width: 56%;
    }
}

/* util classes*/
.bar,
.bar-bg,
.progress-bar-container {
    border-radius: 4px;
}


